[Desktop Entry]
Version=0.1
Type=Application
Name=R GUI 2
GenericName=R-GUI-2
Comment=A simple R GUI made with Qt
Exec=q %F
Icon=q
Terminal=false
Categories=Development;GUI;R;Qt
MimeType=text/x-r-source;text/x-r
Keywords=R;Statistics;Data;GUI
